:root {
  --color-zero: #fff;
  --color-zero-light: rgba(255, 255, 255, 0.7);
  --color-negative: #000;
  --color-negative-light: rgba(0, 0, 0, 0.7);
  --color-background-light: #f1f4f9;
  --color-footer-icons: #e9e9e9;

  --color-first: #1c45a4;
  --color-second: #24d39b;

  --color-text: #292929;
  --color-title: #5c5c5c;
  --color-card-sub-title: #08a372;
  
  --color-none: transparent;

  --color-border: #d2d5d9;
  --color-card-border: #ebebeb;
  --color-text-client: #43484d;
}