:root {
  --size-main-title: 65px;
  --size-second-title: 40px;
  --size-sub-title: 20px;
  --size-medium-title: 30px;
  --size-card-title: 23px;
  --size-text-normal: 18px;
  --size-card-sub-title: 13px;

  --button-text: 15px;
  --button-radius: 50px;

  --line-height: 30px;
  --medium-line-height: 1.33em;

  --navbar-size: 80px;

  --semi-bold: 600;

  --spacing-big: 180px;
  --spacing-less-big: 100px;
  --spacing-medium: 50px;
  --spacing-normal: 30px;
  --spacing-small: 15px;

  --spacing-title: 160px;
  --spacing-image: 200px;
  --spacing-block: 98px;

  --border: 2px;
  --card-radius: 10px;
}