.container {
  display: flex;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.custom-container {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
