.main-content {
  background-image: url(../../img/blue.png);
  background-repeat: no-repeat;
  background-size: 53% 100%;
  background-position-x: right;
}

.main-texts {
  width: 50%;
  margin-top: var(--spacing-title);
}

